.up-tips {
    font-size: 1.33vw;
    font-weight: 700;
}

.btnTrend {
    border: 1px solid #e9ebed;
    border-radius: 1.067vw;
    font-size: 2.2vw;
    line-height: 3.267vw;
    text-align: center;
    background-color: #f3f6f8;
    margin-right: 3vw;
    padding: 10px 20px;
    outline: None;
}

.btnTrend:active {
    outline: None;
}

.btnTrend:focus {
    outline: none;
}

